<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234716053312-9jr3j807nj8ifme40hvm42l9cc0hg43l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234716053312-9jr3j807nj8ifme40hvm42l9cc0hg43l</string>
	<key>API_KEY</key>
	<string>AIzaSyBraPoNBDYuLx0v28W9ov8jPrXRn30z_YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>234716053312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gamley1.spaxey.stg</string>
	<key>PROJECT_ID</key>
	<string>spaxey-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>spaxey-stg.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234716053312:ios:a48c62d37917b31ae844a5</string>
</dict>
</plist>